<div class="container-fluid p-5 bg-dark text-white text-center">
  <h1>Generador De Facturas</h1>
  <form>
    <div class="row m-4 row-cols-3">
      <div class="col mt-1">
        <input type="text" class="form-control" placeholder="id" [(ngModel)]="invoice.Id" disabled="true" name="Id">
      </div>
      <div class="col mt-1">
        <input type="text" class="form-control" placeholder="codigo de factura" [(ngModel)]="invoice.codigofactura" name="codigofactura">
      </div>
      <div class="col mt-1">
        <input type="text" class="form-control" placeholder="Cliente" [(ngModel)]="invoice.cliente" name="Cliente">
      </div>
      <div class="col mt-1">
        <input type="text" class="form-control" placeholder="Ciudad" [(ngModel)]="invoice.ciudad" name="Ciudad">
      </div>
      <div class="col mt-1">
        <input type="text" class="form-control" placeholder="Nit" [(ngModel)]="invoice.nit" name="NIT">
      </div>
      <div class="col mt-1">
        <input type="number" class="form-control" pattern="[0-9]+" placeholder="Total Factura" [(ngModel)]="invoice.totalfactura" name="totalfactura">
      </div>
      <div class="col mt-1">
        <input type="number" class="form-control" pattern="[0-9]+" placeholder="subTotal" [(ngModel)]="invoice.subtotal" name="subtotal">
      </div>
      <div class="col mt-1">
        <input type="number" class="form-control" pattern="[0-9]+" placeholder="Iva" [(ngModel)]="invoice.iva" name="Iva">
      </div>
      <div class="col mt-1">
        <input type="number" class="form-control" pattern="[0-9]+" placeholder="Retencion" [(ngModel)]="invoice.retencion" name="Retencion">
      </div>
      <div class="col mt-1">
        <input type="datetime-local" class="form-control" placeholder="fecha Creacion" [(ngModel)]="invoice.fechacreacion" name="FechaCreacion">
      </div>
      <div class="col mt-1">
      <select class="form-select" name="Estado" [(ngModel)]="invoice.estado === null ? 'Seleccion' : invoice.estado">
          <option *ngFor="let est of estados" [value]="est.value">{{est.title}}</option>
      </select>
      </div>
      <div class="col mt-1">
        <input type="text" class="form-control" placeholder="Pagado" [(ngModel)]="invoice.estado === 'Finalizado' ? invoice.pagado : !invoice.pagado" name="Pagado">
      </div>
      <div class="col mt-1">
        <input type="datetime-local" class="form-control" placeholder="Fecha Pago" [(ngModel)]="invoice.fechapago" name="FechaPago">
      </div>
      <div class="col mt-1">
        <input type="text" class="form-control" placeholder="correo" [(ngModel)]="invoice.correo" name="Correo">
      </div>
    </div>
  </form>
  <button type="button" class="ms-2 btn btn-success" (click)="onAddInvoice(invoice)" ><i class="fa fa-plus-square"></i></button>
  <button type="button" class="ms-2 btn btn-info" (click)="onUpdateInvoice(invoice)"><i class="fa fa-pencil"></i></button>
  <button type="button" class="ms-2 btn btn-danger" (click)="onDeleteInvoice(invoice.Id)"><i class="fa fa-trash"></i></button>
  <button type="button" class="ms-2 btn btn-danger" (click)="clear()"><i class="fa fa-times-circle" ></i></button>
  <button type="button" class="ms-2 btn btn-danger"><i class="fa fa-envelope"></i></button>
</div>

<div class="container mt-5">
  <div class="row">
    <form class="d-flex m-4">
      <input class="form-control me-2" type="text" (keyup)="ValidateInput($event)" placeholder="Buscar por Id" [(ngModel)]="clientefilter" name="clientes">
      <button class="btn btn-primary" type="button" (click)="onFilterInvoice(clientefilter)"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>select</th>
            <th>#</th>
            <th>CodigoFactura</th>
            <th>Cliente</th>
            <th>Ciudad</th>
            <th>NIT</th>
            <th>TotalFactura</th>
            <th>SubTotal</th>
            <th>Iva</th>
            <th>Retencion</th>
            <th>FechaCreacion</th>
            <th>Estado</th>
            <th>Pagado</th>
            <th>FechaPago</th>
            <th>Correo</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of dataTable">
          <tr>
            <td><i class="fa fa-eye" style="cursor: pointer" (click)="onSetData(item)"></i></td>
            <td>{{item.id}}</td>
            <td>{{item.codigofactura}}</td>
            <td>{{item.cliente}}</td>
            <td>{{item.ciudad}}</td>
            <td>{{item.nit}}</td>
            <td>{{item.totalfactura}}</td>
            <td>{{item.subtotal}}</td>
            <td>{{item.iva}}</td>
            <td>{{item.retencion}}</td>
            <td>{{item.fechacreacion}}</td>
            <td>{{item.estado}}</td>
            <td>{{item.pagado}}</td>
            <td>{{item.fechapago}}</td>
            <td>{{item.correo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
